.heading{
width: 100%;
text-align: left;
}

.heading h3{
    display: inline;
}

.big_image{
width: 100%;
}

#start{
    font-size: 50px;
}

.copy_right_footer{
    background-color: black;
    color: whitesmoke;
    line-height: 2;
}